{% extends "cea-base.html" %}

{% block jumbotron %}

	<h1>Comité d'Enquête et d'Arbitrage</h1>
		<p class="lead">Cet outil à l'usage des Préposés du Comité d'Enquête et d'Arbitrage permet d'encoder de nouvelles plaintes et de consulter les plaintes déjà traitées.</p>
      	<!--<a class="btn btn-primary btn-lg btn-block">Big ASS Learn more button</a>-->

{% endblock %}

{% block communication %}
{{commu}}
{% endblock %}

{% block content %}

{% set i = 0 %}
  {% for p in plaintes %}
    {{ p.render(i=i) | safe }}
    <br><br>
    {% set i = i+1 %}
  {% endfor %}
  
{% endblock %}